 #map {
    height: 1000px;  
    width: 100%;
}

.list-view {
    position: absolute;
    top: 50px;
    z-index: 1;
    background: rgba(23,50,78,.5);
    color: white;
}

.list-view p {
    font-size: 1.4em;
    font-weight: bold;
}

.list-view p:hover {
    background: rgba(23,50,78,.7);
    cursor: pointer;
}
