body, html, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

#map { 
    width: 100%;
    z-index: 0;
}

.list-view {
    position: absolute;
    left: -149px;
    top: 85px;
    z-index: 1;
    background: rgba(23,50,78,.5);
    color: white;
}

.list-view p {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 5px;
    padding: 0 5px;
}

.list-view p:hover {
    background: rgba(23,50,78,.7);
    cursor: pointer;
    padding: 5px;
}

#search {
    position: absolute;
    z-index: 1;
    left: -133px;
    top: 50px;
    height: 30px;
    width: 321px;
    
}

.header {
    background: #29293d;
    text-align: center;
    color: white;
    padding: 12px 0;
    width: 100%;
}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 700;
}

i {
    position: absolute;
    top: 22px;
    left: 15px;
    margin-right: 20px;
}

.showlist {
    display: none;
}

.nav-button {
    margin-right: 20px;
}
