body, html, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

#map { 
    width: 100%;
    z-index: 0;
}

/*.list-view {
    background: rgba(23,50,78,.5);
    color: white;
    height: 100%;
    width: 500px;
}

.list-view p {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 5px;
    padding: 0 5px;
}

.list-view p:hover {
    background: rgba(23,50,78,.7);
    cursor: pointer;
    padding: 5px;
}

#search {
    position: absolute;
    z-index: 1;
    left: -133px;
    top: 50px;
    height: 30px;
    width: 321px;
    
} */

.header {
    background: #29293d;
    text-align: center;
    color: white;
    padding: 12px 0;
    width: 100%;
}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 700;
}

i {
    position: absolute;
    top: 22px;
    left: 15px;
    margin-right: 20px;
}

.nav-button {
    margin-right: 20px;
    
}

.sidebar {
    //left:0;
    //top:50px;
   // width: 350px;
    position: fixed;
    overflow-y:scroll;
   // height: calc( 100vh - 50px);
    background-color: #aabbcc;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 10;
}

.sidebar.slide-out {
    -webkit-transform: translate3d( -575px ,0,0);
    transform: translate3d( -575px ,0,0); 
}








